
<div class="container text-center">
    <div class="row">
        <div>
          <br>
        </div>
        <!--Heading-->
        <div class="lead">
        <div class="display-4">Step 2</div>
        <p>Choose your car</p>
        <div>
            <p><ngb-progressbar [value]="500"></ngb-progressbar></p>
        </div>
        </div>
    <div><br></div>
    <div class="row gx-2">
        <div class="col-4">
          <div class="display-6 p-3">Electric Vehicle</div>

          <div class="card" style="width: 22rem;">
            <div><br></div>
            <img src="../../../assets/img/tesla.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Tesla Model 3</h4>
              <br>
              <i class="bi bi-person"> 5</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 3</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-battery-charging"> 358 miles</i>
              
              <h5 class="card-text"><br>Cost per day $130.00 USD</h5>
              <br>
              
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
              
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Compact Car</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/corolla.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Toyota Corolla SE</h4>
              <br>
              <i class="bi bi-person"> 4</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 3</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 35 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $80.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Mid Sedan</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/jetta.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Volkwagen Jetta</h4>
              <br>
              <i class="bi bi-person"> 5</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 3</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 32 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $100.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Full Sedan</div>

          <div class="card" style="width: 22rem;">
            <div><br></div>
            <img src="../../../assets/img/camry.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Toyota Camry XSE</h4>
              <br>
              <i class="bi bi-person"> 4</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 4</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 30 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $120.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Luxury Mid Sedan</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/bmw-mid.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">BMW 4 series</h4>
              <br>
              <i class="bi bi-person"> 5</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 3</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 25 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $160.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Luxury Full Sedan</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/bmw-full.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">BMW 7 Series</h4>
              <br>
              <i class="bi bi-person"> 5</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 4</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 22 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $250.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">Sports Car</div>

          <div class="card" style="width: 22rem;">
            <div><br></div>
            <img src="../../../assets/img/sports.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Corvette ZR1 </h4>
              <br>
              <i class="bi bi-person"> 2</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 1</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 15 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $250.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">Convertible Car</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/convertible.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Ford Mustang GT500</h4>
              <br>
              <i class="bi bi-person"> 4</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 2</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 16 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $180.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">Muscle Car</div>

          <div class="card" style="width: 22rem;">
            <div><br></div>
            <img src="../../../assets/img/muscle.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Dodge Challenger R/T</h4>
              <br>
              <i class="bi bi-person"> 4</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 2</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 19 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $180.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">Off-road Vehicle</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/offroad.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Jeep Wrangler Rubicon</h4>
              <br>
              <i class="bi bi-person"> 4</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 3</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 14 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $160.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">SUV</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/suv.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Cadillac Escalade V Series</h4>
              <br>
              <i class="bi bi-person"> 7</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 7</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 15 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $250.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">Pick-up Truck</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/truck.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Ram 3500</h4>
              <br>
              <i class="bi bi-person"> 5</i> &nbsp; &nbsp;
              <i class="bi bi-bag"> 8</i> &nbsp; &nbsp;
              <i class="bi bi-joystick"> Automatic</i> &nbsp; &nbsp;
              <i class="bi bi-speedometer"> 15 mpg</i>
              
              <h5 class="card-text"><br>Cost per day $160.00 USD</h5>
              <br>
              <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
              <label class="form-check-label" for="flexRadioDefault1">
               &nbsp;Select
              </label>
            </div>
          </div>

        </div>

        <!--Proceed Button-->
        
      <div>
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Proceed</button>
      </div>
    </div>
    <div>
        <br>
        <br>
    </div>
</div>