<div class="header">
<h1 class="display-1">Exclusive Car Rental</h1>
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="carousel-caption">
			<div>
				<br>
			</div>
			<div>
				<br>
			</div>
			<div class="display-6">Go places the exclusive way!</div>
			<p>Awarded the Best Rental Experience for the third consecutive year by Travel Weekly Magellan Awards 2022. </p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="carousel-caption">
			<div>
				<br>
			</div>
			<div>
				<br>
			</div>
			<div class="display-6">Rent a car in 4 simple steps</div>
			<p>90% of our customers rated us the Best Customer Experience in the 2022 Yearly ECR survey in a pool of 10 biggest global Automotive Rental Companies. </p>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="carousel-caption">
			<div>
				<br>
			</div>
			<div>
				<br>
			</div>
			<div class="display-6">Renting a car made easier</div>
			<p>World's Most Ethical Company by Ethisphere Institute Award 2020. </p>
		</div>
	</ng-template>
</ngb-carousel>
  
</div>




