.header{
    text-align: center;
    background-color: white;
    
}

.wrapper{
    align-items: center;

    
}

.carousel{
    width: auto;
    max-height: 1200px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(153, 38, 254));
    font-style: italic;
}




