
<div class="container text-center">
    <div class="row">
        <div>
          <br>
        </div>
        <!--Heading-->
        <div class="lead">
        <div class="display-4">Step 3</div>
        <p>Add Insurance and Services</p>
        <div>
            <p><ngb-progressbar [value]="750"></ngb-progressbar></p>
        </div>
        </div>
    <div><br></div>
    <div class="row gx-2">
        <div class="col-4">
          <div class="display-6 p-3">Protect Car</div>

          <div class="card" style="width: 22rem;">
            <div><br></div>
            <img src="../../../assets/img/pt.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Get your car insured</h4>
              <br>
              
              <h5 class="card-text"><br>Cost per day $20.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Liability Insurance</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/liability.jpg" class="card-img-top" alt="...">
            <br>
            <div class="card-body">
              <h4 class="card-title">Get liability insured</h4>
              <br>
              
              <h5 class="card-text"><br>Cost per day $20.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Full Coverage</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/belong.jpg" class="card-img-top" alt="...">
            <br>
            <div class="card-body">
              <h4 class="card-title">Get total insurance</h4>
              <br>
              
              <h5 class="card-text"><br>Cost per day $40.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Satellite Radio</div>

          <div class="card" style="width: 22rem;">
            <div><br></div>
            <img src="../../../assets/img/satellite.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Listen to your favorite radio wherever your go</h4>
              <br>
              
              <h5 class="card-text"><br>Cost per day $10.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Infant Seat</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/infantseat.jpg" class="card-img-top" alt="...">
            <div>
              <br>
            </div>
            <div class="card-body">
              <h4 class="card-title">Seats for infant</h4>
              <br>
              <br>
              <h5 class="card-text"><br>Cost per day $15.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>
        <div class="col-4">
          <div class="display-6 p-3">Child Seat</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/c.jpg" class="card-img-top" alt="...">
            <br>
            <div class="card-body">
              <h4 class="card-title">Child seats for kids</h4>
              <br>
              <br>
              <h5 class="card-text"><br>Cost per day $15.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">Booster Seat</div>

          <div class="card" style="width: 22rem;">
            <div><br></div>
            <img src="../../../assets/img/booster.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Booster seats for adult </h4>
              <br>
              <h5 class="card-text"><br>Cost per day $15.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>

        <div class="col-4">
          <div class="display-6 p-3">Home delivered</div>

          <div class="card" style="width: 22rem;">
            <img src="../../../assets/img/home.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h4 class="card-title">Get your car delivered at your address</h4>
              <br>
              <h5 class="card-text"><br>Cost $50.00 USD</h5>
              <br>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Select this option
                </label>
              </div>
            </div>
          </div>

        </div>

        <div>
          <br>
          <br>
        </div>

        <!--Continue Button-->
        <div>
          <button type="button" class="btn btn-primary btn-lg">Continue</button>
        </div>

        </div>
        <div>
          <br>
          <br>
        </div>
    </div>
    <div>
        <br>
        <br>
    </div>
</div>
